
<table border="1" solid>
<tr>
	<th>ФИО</th>
	<th>Телефон</th>
	<th>Есть льгота?</th>
	<th>Дата визита</th>
</tr> <!--ряд с ячейками заголовков-->

<tr>
	<td><%= @sql_v[1][1]%></td>
	<td><%= @sql_v[1][2]%></td>
	<td><%= @sql_v[1][3]%></td>
	<td><%= @sql_v[1][4]%></td>
	<%= @resultat%>
</tr> 
<tr>
	
</tr>><!--ряд с ячейками тела таблицы-->
</table>
